@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap');

:root {
  --celadon-blue: #0081a7ff;
  --maximum-blue-green: #00afb9ff;
  --light-yellow: #fdfcdcff;
  --peach-puff: #fed9b7ff;
  --bittersweet: #f07167ff;
}

html {
  height: 100%;
}

.overpass_400 {
  font-weight: 400;
  font-family: 'Overpass';
}

.overpass_600 {
  font-weight: 600;
  font-family: 'Overpass';
}