.cardItem {
  box-shadow: 0 0 3px var(--light-yellow);
  transition: all 0.5s;
}

.cardItem:hover {
  box-shadow: 0 0 15px var(--peach-puff);
  transform: scale(1.02);
}

.cardFilter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.1s;
}

.cardFilter:hover {
  opacity: 1;
}

.cardImg {
  object-fit: cover;
  height: 300px;
}
